{% extends "base.html" %}
{% block content %}
    <div class="container home-area">
        <div class="vertical-bar">
            <img src="{{ url_for('static', filename='pic1.jpg') }}">
        </div>
        <div class="content-bar">
            <h2>Welcome to Sentiment analysis project</h2>
            <p>Sentiment Analysis (SA) aims to determine the attitude of a speaker, writer, or other subject with respect to some topic or the overall contextual polarity or emotional reaction to a document, interaction, or event.
                Sentiments can be expressed in binary or multi-class form.
                Binary sentiment classification includes positive and negative class while multi-class sentiment classification consists of more than two classes, i.e., positive, highly positive, negative, highly negative and neutral etc.
                This system classifies the sentences or documents of Hindi text into three classes such as positive, negative and neutral</p>
            <br>
            <h4>Sentence Level analysis</h4>
            <p>It determines whether each sentence expressed a positive, negative, or neutral opinion.</p>
            <br>
            <h4>Document Level analysis</h4>
            <p>Document level considers that a document is an opinion on an entity or aspect of it.
                The task is to classify whether a whole opinion document expresses a positive or negative sentiment.
                For example, given a product review, the system determines whether the review expresses an overall positive or negative opinion about the product.</p>
            <br>
            <h4>Twitter Ananlysis</h4>
            <p>e mauris. Aliquam varius eleifend odio ac suscipit. Integer eu libero sed odio varius mattis. Aliquam hendrerit sagittis dolor, at finibus est tincidunt accumsan. Nullam congue purus id turpis consequat, quis varius nunc ornare.</p>
            <a href="{{ url_for('liner.liner') }}">
                <button type="button" class="btn btn-primary">Experience us now</button>
            </a>
        </div>
        <div class="vertical-bar">
            <img src="{{ url_for('static', filename='pic2.jpg') }}">
        </div>
    </div>
{% endblock %}