{% extends "base.html" %}
{% block content %}
    <div class="front-page">
        <h2>Welcome to Sentiment analysis project</h2>
        <p>us et ultrices posuere cubilia Curae; Aliquam imperdiet convallis pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin ac est tempor, fringilla leo id, interdum arcu. Nam sed eros vestibulum, hendrerit arcu aliquet, interdum lacus. Aenean et justo non ipsum eleifend lobortis. Pellentesque venenatis, justo non accumsan dignissim, metus ipsum imperdiet est, vitae fringilla risus ex rhoncus est.</p>
        <br>
        <h4>Line analysis</h4>
        <p>finibus tempus. Proin tortor enim, fringilla elementum suscipit ac, eleifend sit amet libero. Nulla gravida dolor quam, vel sodales lorem laoreet in. Suspendisse id purus luctus velit convallis tristique. Aliquam non nisl bibendum, eleifend lorem non, ullamcorper magna. Proin a pharetra libero.</p>
        <br>
        <h4>Document analysis</h4>
        <p>pellentesque semper finibus, velit ligula suscipit dui, ac varius mauris orci at mauris. Aliquam tincidunt commodo cursus. Phasellus venenatis justo ac mauris venenatis, nec sollicitudin metus tempor. Vestibulum sodales iaculis nunc at pulvinar. Sed porttitor arcu at tellus varius, a malesuada quam dapibus.</p>
        <br>
        <h4>Twitter Ananlysis</h4>
        <p>e mauris. Aliquam varius eleifend odio ac suscipit. Integer eu libero sed odio varius mattis. Aliquam hendrerit sagittis dolor, at finibus est tincidunt accumsan. Nullam congue purus id turpis consequat, quis varius nunc ornare.</p>
        <a href="{{ url_for('liner.liner') }}">
            <button type="button" class="btn btn-primary">Experience us now</button>
        </a>
    </div>
{% endblock %}