{% extends "base.html" %}
{% block content %}
    <div class="front-page">
        <h2>Welcome to Sentiment analysis project</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et aliquet diam. Pellentesque commodo sem et mi venenatis, posuere ultrices ex vulputate. Curabitur eu metus consectetur, auctor nulla ac, porta massa. Proin ornare elit dignissim mauris luctus, in interdum sapien pretium. Sed eget augue et magna laoreet vehicula. Suspendisse sit amet mollis nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam imperdiet convallis pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin ac est tempor, fringilla leo id, interdum arcu. Nam sed eros vestibulum, hendrerit arcu aliquet, interdum lacus. Aenean et justo non ipsum eleifend lobortis. Pellentesque venenatis, justo non accumsan dignissim, metus ipsum imperdiet est, vitae fringilla risus ex rhoncus est.</p>
        <br>
        <h4>What is sentiment analysis?</h4>
        <p>Maecenas gravida elit sit amet pulvinar dignissim. Mauris et consequat ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam porttitor pharetra enim. Nulla ut fringilla lectus. Maecenas sapien velit, fringilla in facilisis vitae, aliquam vel purus. Suspendisse commodo finibus tempus. Proin tortor enim, fringilla elementum suscipit ac, eleifend sit amet libero. Nulla gravida dolor quam, vel sodales lorem laoreet in. Suspendisse id purus luctus velit convallis tristique. Aliquam non nisl bibendum, eleifend lorem non, ullamcorper magna. Proin a pharetra libero.</p>
        <br>
        <h4>How it works</h4>
        <p>Maecenas lacinia tincidunt ipsum nec ullamcorper. Ut eu nunc ultrices enim convallis tristique. Nullam turpis nisl, ornare id semper non, fermentum ac metus. Etiam ut neque sodales, facilisis turpis et, rutrum nibh. In a ex vitae mi tincidunt malesuada. Cras bibendum ullamcorper urna vel maximus. Sed suscipit, magna pellentesque semper finibus, velit ligula suscipit dui, ac varius mauris orci at mauris. Aliquam tincidunt commodo cursus. Phasellus venenatis justo ac mauris venenatis, nec sollicitudin metus tempor. Vestibulum sodales iaculis nunc at pulvinar. Sed porttitor arcu at tellus varius, a malesuada quam dapibus.</p>
        <br>
        <h4>Our team</h4>
        <p>Suspendisse molestie odio erat, imperdiet accumsan lectus commodo eget. Etiam ut rhoncus mauris. Maecenas mollis orci non dapibus aliquet. In id magna et arcu ultrices ultrices. Duis at urna at nibh dignissim mattis. Suspendisse interdum tristique mauris. Aliquam varius eleifend odio ac suscipit. Integer eu libero sed odio varius mattis. Aliquam hendrerit sagittis dolor, at finibus est tincidunt accumsan. Nullam congue purus id turpis consequat, quis varius nunc ornare.</p>
    </div>
{% endblock %}


<!--
<h1 id="heading">Sentiment Analysis for Hindi text</h1>
<div id="legend">
    <p>0 : neg &nbsp; 1 : neu &nbsp; 2 : pos</p>
</div>
<div class="text-form">
    <form id="input-form">
        <textarea rows="10" cols="100" style="margin-bottom: 20px"></textarea>
        <br>
        <a href="#" id="predict">Predict</a>
    </form>
    <form method="post" enctype=multipart/form-data style="margin-top: 20px;">
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
    <p id="result">{{file_predictions}}</p>
</div>
<script>
    $('#predict').click(function () {
        var $SCRIPT_ROOT = {{request.script_root | tojson | safe}};
        var text = $('textarea').val()
        var result = ''
        $.ajax({
            type: "POST",
            url: $SCRIPT_ROOT + "/predict",
            data: text,
            success: function (data) {
                $.each(data, function (key, value) {
                    result += key + ' : ' + value + '\n';
                })
                $('#result').text('Predicted Output: \n' + result);
            }
        });
    });
</script>
-->