{% extends "base.html" %}
{% block content %}
    <div id="legend">
        <h4>Please Enter your hindi text for sentiment analysis</h4>
        <p>0 : neg &nbsp; 1 : neu &nbsp; 2 : pos</p>
    </div>
    <div class="text-form">
        <form id="input-form">
            <textarea rows="10" cols="100" style="margin-bottom: 20px"></textarea>
            <br>
            <a href="#" id="predict">Predict</a>
        </form>
    </div>
    <h5 id="overall"></h5>
    <div class="results">
        <div class="hide" id="result-list">
            <ul class="result-list">
                <li>-------Prediction Results--------</li>
            </ul>
        </div>
        <div>
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <script>
    $('#predict').click(function () {
        var $SCRIPT_ROOT = {{request.script_root | tojson | safe}};
        var text = $('textarea').val();
        var result = '';
        $.ajax({
            type: "POST",
            url: $SCRIPT_ROOT + "/liner",
            data: text,
            success: function (data) {
                $('#result-list').removeClass('hide');
                $('#result-list').addClass('aggregate-list');
                $.each(data[0], function (key, value) {
                    $('.result-list').append('<li>'+key+' : '+value+'<li>');
                });
                if (data[2] == 0) {
                    $('#overall').text('Overall sentiment : Negative');
                } else if (data[2] == 1) {
                    $('#overall').text('Overall sentiment : Neutral');
                } else {
                    $('#overall').text('Overall sentiment : Positive');
                }
                var ctx = document.getElementById("myChart").getContext('2d');
                ctx.canvas.width = 900;
                ctx.canvas.height = 300;
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ["Negative", "Neutral", "Positive"],
                        datasets: [{
                            label: '# of sentences with negative, neutral and positive sentiment',
                            data: data[1],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ]
                        }]
                    },
                    options: {
                        maintainAspectRatio: true,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
            }
        });
    });
</script>
{% endblock %}