body {
    font-family: Helvetica, sans-serif;
}

.hide {
    display: none;
}

/* index/home.html */

.front-page {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

/* projects/line.html */

.result-list {
    list-style: none;
    padding: 20px;
}

.aggregate-list {
    margin-left: 20px;
    width: 40%;
    padding-top: 10px;
    margin-right: 50px;
}

#overall {
    text-align: center;
}

.results {
    display: inline-flex;
    padding-top: 40px;
}

/* */
#predict {
    height: 40px;
    width: 40px;
    padding: 5px;
    background-color: palegreen;
    border: 2px solid palegreen;
    text-decoration: none;
}

#heading {
    margin-top: 50px;
    text-align: center;
}

#text-form {
    display: inline-block;
    text-align: center;
}

form {
    text-align: center;
}


#legend {
    text-align: center;
    margin-top: 50px;

}

input[type=file] {
    margin: auto;
    padding: 20px;
}