body {
    font-family: Helvetica, sans-serif;
}

textarea {
    margin-bottom: 30px;
}

#predict {
    height: 40px;
    width: 40px;
    padding: 5px;
    background-color: palegreen;
    border: 2px solid palegreen;
    text-decoration: none;
}

#heading {
    margin-top: 50px;
    text-align: center;
}

#text-form {
    display: inline-block;
    text-align: center;
}

form {
    text-align: center;
}

#result {
    text-align: center;
    margin-top: 20px;
}

#legend {
    text-align: center;

}